{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-header">
        <h5 class="card-title">Assumptions</h5>
        <p class="card-category text-dark">
          Upload dataset and add all relevant assumptions
        </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-dark">
              <tr>
                <th>Business <br>Class</th>
                <th>Discount <br>Rate</th>
                <th>Expense <br>Ratio</th>
                <th>Loss <br>Ratio</th>
                <th>Risk <br>Adjustment</th>
                <th>Acquisistion <br>costs (Commissions)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">Accident</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Engineering</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Fire</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Motor</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Drugs</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Aviation</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr class="" style="">
                <td class="assumptions-text" style="font-weight: bold;">Actions</td>
                <td class="assumptions-text text-right">
                    <span class="" style="font-weight: bold">Upload Datasheet</span>
                </td>
                <td class="assumptions-text text-left">
                    <div class="">
                        <input class="form-control text-info" type="file" id="formFile">
                    </div>
                </td>
                <td class="assumptions-text text-center" colspan="2">
                    <button type="button" class="btn btn-neutral mr-2" data-bs-toggle="modal" data-bs-target="#newClass">
                        <i class="nc-icon nc-simple-add"></i> 
                        New Class
                    </button>
                    <a type="button" href="/paa/results" class="btn mr-2" style="background: #f99400">
                        <i class="nc-icon nc-send"></i> 
                        Submit
                    </a>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- New Class Modal -->
<div class="modal fade" id="newClass" tabindex="-1" aria-labelledby="newClassLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="newClassLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="nc-icon nc-simple-add"></i></button>
    </div>
    <div class="modal-body">
        ...
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div>
{% endblock content %}
