{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Assumptions</h5>
        <p class="card-category">
          Upload dataset and add all relevant assumptions
        </p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-dark">
              <tr>
                <th>Business <br>Class</th>
                <th>Discount <br>Rate</th>
                <th>Expense <br>Ratio</th>
                <th>Loss <br>Ratio</th>
                <th>Risk <br>Adjustment</th>
                <th>Acquisistion <br>costs (Commissions)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">Accident</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Engineering</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Fire</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Motor</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Drugs</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text">Aviation</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                        <input type="number" class="form-control" placeholder="e.g 0.5" aria-label="" aria-describedby="">
                        <span class="input-group-text" id="inputGroup-sizing-sm">%</span>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="assumptions-text" style="font-weight: bold;">Actions</td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                    </div>
                </td>
                <td class="assumptions-text text-center">
                    <div class="input-group input-group-sm">
                    </div>
                </td>
                <td class="assumptions-text text-right">
                    <div class="input-group input-group-sm">
                        <button type="button" class="btn btn-primary"><i class="nc-icon nc-simple-add"></i> New Class</button>
                    </div>
                </td>
                <td class="assumptions-text text-right">
                    <div class="input-group input-group-sm">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
