{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Premium Allocation Approach (PAA) Model
          </h5>
          <p class="card-category">
            IFRS 17 provides a simplified approach to the General Measurement Model (GMM)  for measuring insurance Contracts.
          </p>
        </div>
        <div class="card-body">
          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#eligibilityContent" role="button" aria-expanded="false" aria-controls="collapseExample">
                Eligibility
              </a>
            </p>
            <div class="collapse" id="eligibilityContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">53</span>
                    <p class="dashboard-item-font p-2">
                      An entity may simplify the measurement of a group of insurance contracts using the premium allocation approach set out in paragraphs 55–59 if, and only if, at the inception of the group:
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          the entity reasonably expects that such simplification would produce a measurement of the liability for remaining coverage for the group that would not differ materially from the one that would be produced applying the requirements in paragraphs 32–52; or
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          the coverage period of each contract in the group (including coverage arising from all premiums within the contract boundary determined at that date applying paragraph 34) is one year or less.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-light text-dark dashboard-item-font mr-3">54</span>
                      <p class="dashboard-item-font p-2">
                        The criterion in paragraph 53(a) is not met if at the inception of the group an entity expects significant variability in the fulfilment cash flows that would affect the measurement of the liability for remaining coverage during the period before a claim is incurred. Variability in the fulfilment cash flows increases with, for example:
                      </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          the extent of future cash flows relating to any derivatives embedded in the contracts; and 
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          the length of the coverage period of the group of contracts.
                        </p>	
                      </li>
                    </ul>
                  </li>
                </ul>	
              </div>
            </div>
          </div>

          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#measurementContent" role="button" aria-expanded="false" aria-controls="measurementContent">
                Measurement
              </a>
            </p>
            <div class="collapse" id="measurementContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">55</span>
                    <p class="dashboard-item-font p-2">
                      Using the premium allocation approach, an entity shall measure the liability for remaining coverage as follows:
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          on initial recognition, the carrying amount of the liability is: <br>
                          <span class="dashboard-i mr-3 p-2 fst-italic">i</span>the premiums, if any, received at initial recognition; <br>
                          <span class="dashboard-i mr-3 p-2 fst-italic">ii</span>minus any insurance acquisition cash flows at that date, unless the entity chooses to recognise the payments as an expense applying paragraph 59(a); and <br>
                          <span class="dashboard-i mr-3 p-2 fst-italic">ii</span>plus or minus any amount arising from the derecognition at that date of the asset or liability recognised for insurance acquisition cash flows applying paragraph 27. <br>
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          at the end of each subsequent reporting period, the carrying amount of the liability is the carrying amount at the start of the reporting period:
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">i</span>plus the premiums received in the period;
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">ii</span>minus insurance acquisition cash flows; unless the entity chooses to recognise the payments as an expense applying paragraph 59(a);
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">iii</span>plus any amounts relating to the amortisation of insurance acquisition cash flows recognised as an expense in the reporting period; unless the entity chooses to recognise insurance acquisition cash flows as an expense applying paragraph 59(a);
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">iv</span>plus any adjustment to a financing component, applying paragraph 56;
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">v</span>minus the amount recognised as insurance revenue for coverage provided in that period (see paragraph B126); and
                          <br><span class="dashboard-i mr-3 p-2 fst-italic">vi</span>minus any investment component paid or transferred to the liability for incurred claims.
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>		
              </div>
            </div>
          </div>

          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#simplificationAvailableContent" role="button" aria-expanded="false" aria-controls="collapseExample">
                Simplifications Available		
              </a>
            </p>
            <div class="collapse" id="simplificationAvailableContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">56</span>
                    <p class="dashboard-item-font p-2">
                      If insurance contracts in the group have a significant financing component, an entity shall adjust the carrying amount of the liability for remaining coverage to reflect the time value of money and the effect of financial risk using the discount rates specified in paragraph 36, as determined on initial recognition.		
                      The entity is not required to adjust the carrying amount of the liability for remaining coverage to reflect the time value of money and the effect of financial risk if, at initial recognition, the entity expects that the time between providing each part of the coverage and the related premium due date is no more than a year.	
                    </p>
                    </div>
                  </li>
                </ul>	
              </div>
            </div>
          </div>

          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#onerousContent" role="button" aria-expanded="false" aria-controls="collapseExample">
                Onerous Contracts	
              </a>
            </p>
            <div class="collapse" id="onerousContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">57</span>
                    <p class="dashboard-item-font p-2">
                      If at any time during the coverage period, facts and circumstances indicate that a group of insurance contracts is onerous, an entity shall calculate the difference between:
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          the carrying amount of the liability for remaining coverage determined applying paragraph 55; and
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          the fulfilment cash flows that relate to remaining coverage of the group, applying paragraphs 33–37 and B36–B92. However, if, in applying paragraph 59(b), the entity does not adjust the liability for incurred claims for the time value of money and the effect of financial risk, it shall not include in the fulfilment cash flows any such adjustment.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-light text-dark dashboard-item-font mr-3">58</span>
                      <p class="dashboard-item-font p-2">
                        To the extent that the fulfilment cash flows described in paragraph 57(b) exceed the carrying amount described in paragraph 57(a), the entity shall recognise a loss in profit or loss and increase the liability for remaining coverage.
                      </p>
                    </div>
                  </li>
                </ul>	
              </div>
            </div>
          </div>

          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#aquisitionContent" role="button" aria-expanded="false" aria-controls="aquisitionContent">
                Acquisition Cashflows		
              </a>
            </p>
            <div class="collapse" id="aquisitionContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">59</span>
                    <p class="dashboard-item-font p-2">
                      In applying the premium allocation approach, an entity:
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          may choose to recognise any insurance acquisition cash flows as expenses when it incurs those costs, provided that the coverage period of each contract in the group at initial recognition is no more than one year.	
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          shall measure the liability for incurred claims for the group of insurance contracts at the fulfilment cash flows relating to incurred claims, applying paragraphs 33–37 and B36–B92. However, the entity is not required to adjust future cash flows for the time value of money and the effect of financial risk if those cash flows are expected to be paid or received in one year or less from the date the claims are incurred.	
                        </p>
                      </li>
                    </ul>
                  </li>
                </ul>	
              </div>
            </div>
          </div>

          <div>
            <p class="card-category">
              <a class="btn btn-link" style="text-decoration: none;" data-bs-toggle="collapse" href="#simplificationAvailableContent" role="button" aria-expanded="false" aria-controls="simplificationAvailableContent">
                Insurance revenue
              </a>
            </p>
            <div class="collapse" id="simplificationAvailableContent">
              <div class="card card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">B120</span>
                    <p class="dashboard-item-font p-2">
                      The total insurance revenue for a group of insurance contracts is the consideration for the contracts, ie the amount of premiums paid to the entity:
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          adjusted for a financing effect; and
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          excluding any investment components.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-light text-dark dashboard-item-font mr-3">B125</span>
                      <p class="dashboard-item-font p-2">
                        An entity shall determine insurance revenue related to insurance acquisition cash flows by allocating the portion of the premiums that relate to recovering those cash flows to each reporting period in a systematic way on the basis of the passage of time. An entity shall recognise the same amount as insurance service expenses.	
                      </p>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark mr-3 dashboard-item-font">B126</span>
                    <p class="dashboard-item-font p-2">
                      When an entity applies the premium allocation approach in paragraphs 55–58, insurance revenue for the period is the amount of expected premium receipts (excluding any investment component and adjusted to reflect the time value of money and the effect of financial risk, if applicable, applying paragraph 56) allocated to the period. The entity shall allocate the expected premium receipts to each period of coverage:	
                    </p>
                    </div>
                    <ul class"">
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                        <p class="dashboard-item-font p-2">
                          on the basis of the passage of time; but
                        </p>
                      </li>
                      <li class="d-flex justify-content-start align-items-start">
                        <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                        <p class="dashboard-item-font p-2">
                          if the expected pattern of release of risk during the coverage period differs significantly from the passage of time, then on the basis of the expected timing of incurred insurance service expenses.
                        </p>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-light text-dark dashboard-item-font mr-3">B127</span>
                      <p class="dashboard-item-font p-2">
                        An entity shall change the basis of allocation between paragraphs B126(a) and B126(b) as necessary if facts and circumstances change.	
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}