{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Premium Allocation Approach (PAA) Model
          </h5>
          <p class="card-category">
            IFRS 17 provides a simplified approach to the General Measurement Model (GMM)  for measuring insurance Contracts.
          </p>
        </div>
        <div class="card-body">

          <p class="card-category">Eligibility</p>
          <div id="eligibilityContent">
            <div class="tab-pane fade show active" id="eligibility" role="tabpanel" aria-labelledby="eligibility-tab">
			
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="d-flex justify-content-start align-items-start">
                  <span class="badge bg-light text-dark mr-3 dashboard-item-font">53</span>
                  <p class="dashboard-item-font">
                    An entity may simplify the measurement of a group of insurance contracts using the premium allocation approach set out in paragraphs 55–59 if, and only if, at the inception of the group:
                  </p>
                  </div>
                  <ul class"">
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                      <p class="dashboard-item-font">
                        the entity reasonably expects that such simplification would produce a measurement of the liability for remaining coverage for the group that would not differ materially from the one that would be produced applying the requirements in paragraphs 32–52; or
                      </p>
                    </li>
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                      <p class="dashboard-item-font">
                        the coverage period of each contract in the group (including coverage arising from all premiums within the contract boundary determined at that date applying paragraph 34) is one year or less.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark dashboard-item-font mr-3">54</span>
                    <p class="dashboard-item-font">
                      The criterion in paragraph 53(a) is not met if at the inception of the group an entity expects significant variability in the fulfilment cash flows that would affect the measurement of the liability for remaining coverage during the period before a claim is incurred. Variability in the fulfilment cash flows increases with, for example:
                    </p>
                  </div>
                  <ul class"">
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                      <p class="dashboard-item-font">
                        the extent of future cash flows relating to any derivatives embedded in the contracts; and 
                      </p>
                    </li>
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                      <p class="dashboard-item-font">
                        the length of the coverage period of the group of contracts.
                      </p>	
                    </li>
                  </ul>
                </li>
              </ul>		
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div>

          <p class="card-category">Measurement</p>
          <div  id="measurementContent">
            <div class="tab-pane fade show active" id="measurement" role="tabpanel" aria-labelledby="measurement-tab">
			
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="d-flex justify-content-start align-items-start">
                  <span class="badge bg-light text-dark mr-3 dashboard-item-font">53</span>
                  <p class="dashboard-item-font">
                    An entity may simplify the measurement of a group of insurance contracts using the premium allocation approach set out in paragraphs 55–59 if, and only if, at the inception of the group:
                  </p>
                  </div>
                  <ul class"">
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                      <p class="dashboard-item-font">
                        the entity reasonably expects that such simplification would produce a measurement of the liability for remaining coverage for the group that would not differ materially from the one that would be produced applying the requirements in paragraphs 32–52; or
                      </p>
                    </li>
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                      <p class="dashboard-item-font">
                        the coverage period of each contract in the group (including coverage arising from all premiums within the contract boundary determined at that date applying paragraph 34) is one year or less.
                      </p>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <div class="d-flex justify-content-start align-items-start">
                    <span class="badge bg-light text-dark dashboard-item-font mr-3">54</span>
                    <p class="dashboard-item-font">
                      The criterion in paragraph 53(a) is not met if at the inception of the group an entity expects significant variability in the fulfilment cash flows that would affect the measurement of the liability for remaining coverage during the period before a claim is incurred. Variability in the fulfilment cash flows increases with, for example:
                    </p>
                  </div>
                  <ul class"">
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">a</span>
                      <p class="dashboard-item-font">
                        the extent of future cash flows relating to any derivatives embedded in the contracts; and 
                      </p>
                    </li>
                    <li class="d-flex justify-content-start align-items-start">
                      <span class="badge bg-secondary rounded-pill dashboard-item-font mr-3">b</span>
                      <p class="dashboard-item-font">
                        the length of the coverage period of the group of contracts.
                      </p>	
                    </li>
                  </ul>
                </li>
              </ul>		
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}