{% extends "layout.html" %} {% block styles %}
<link
  href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
  rel="stylesheet"
/>
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table
            id="fresh-table"
            class="table display nowrap"
            style="width: 100%"
          >
            <thead>
              <th>Income Statement as at</th>
              <th>31 jan</th>
              <th>28 feb</th>
              <th>31 mar</th>
              <th>30 apr</th>
              <th>31 may</th>
              <th>30 jun</th>
              <th>31 jul</th>
              <th>31 aug</th>
              <th>30 sep</th>
              <th>31 oct</th>
              <th>30 nov</th>
              <th>31 dec</th>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">Insurance Revenue</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Claims and Benefits incurred</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">
                  Loss on Onerous group of contracts
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Expenses Incurred</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">
                  Finance Income/ Expense (Discount unwind)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">
                  Investment Income (assets matching insurance liabilities)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">
                  Investment Income (free assets)
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Investment Results</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <td class="assumptions-text">Profit or Loss</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Other Comprehensive Income</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Total Comprehensive Income</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <table id="fresh-table" class="table">
            <thead>
              <th>Balance Sheet at 30th June Mid Year 1</th>
              <th>Amount</th>
              <th>Assets</th>
              <th>Amount</th>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">Liabilities</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Equity</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Surplus</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Insurance Contract Liability</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">.LFRC</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">.LFIC</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="assumptions-text">Total Liabilities and Equity</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready( function () {
    $('#fresh-table').DataTable({
      scrollX: true,
      "bInfo": false, //Dont display info e.g. "Showing 1 to 4 of 4 entries"
      "paging": false,//Dont want paging                
      "bPaginate": false,//Dont want paging 
    });
} );

</script>

{%endblock scripts %}
