{% extends "layout.html" %} {% block styles %}
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table id="fresh-table" class="table display nowrap" style="width:100%">
            <thead>
              <th data-field="Class of Business" data-sortable="true">
                Class of Business
              </th>
              <th data-field="Name of Policyholder" data-sortable="true">
                Name of Policyholder
              </th>
              <th data-field="Surname" data-sortable="true">Surname</th>
              <th data-field="Policy Number" data-sortable="true">
                Policy Number
              </th>
              <th data-field="Start Date" data-sortable="true">Start Date</th>
              <th data-field="Ending Date" data-sortable="true">Ending Date</th>
              <th
                data-field="Expected_Date_of_Premium_Payment"
                data-sortable="true"
              >
                Expected Date of Premium Payment
              </th>
              <th data-field="Date of Premium_Payment" data-sortable="true">
                Date of Premium Payment
              </th>
              <th data-field="Premium Installment" data-sortable="true">Installment</th>
              <th data-field="Payment Frequency" data-sortable="true">
                Payment Frequency
              </th>
              <th data-field="Total Premium" data-sortable="true">
                Total Premium
              </th>
              <th data-field="Claims Ratio" data-sortable="true">
                Claims Ratio
              </th>
              <th data-field="Expense Ratio" data-sortable="true">
                Expense Ratio
              </th>
              <th data-field="Acquisistion costs (Commissions)" data-sortable="true">
                Acquisistion costs (Commissions)
              </th>
              <th data-field="Portfolio ID" data-sortable="true">
                Portfolio ID
              </th>
              <th data-field="duration" data-sortable="true">
                duration
              </th>
              <th data-field="PV Premiums" data-sortable="true">PV Premiums</th>
              <th data-field="PV Claims" data-sortable="true">
                PV Claims
              </th>
              <th data-field="PV Expenses" data-sortable="true">
                PV Expenses
              </th>
              <th data-field="Risk Adjustment" data-sortable="true">
                Risk Adjustment
              </th>
              <th data-field="FCFs" data-sortable="true">
                FCFs
              </th>
              <th data-field="Acquisition Costs" data-sortable="true">
                Acquisition Costs
              </th>
              <th data-field="Combined Loss Ratio" data-sortable="true">
                Combined Loss Ratio
              </th>
              <th data-field="Automatic PAA Eligibility Test" data-sortable="true">
                Automatic PAA Eligibility Test
              </th>
              <th data-field="Final Groups of Contracts" data-sortable="true">
                Final Groups of Contracts
              </th>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<!--<script>-->
<!--  $(document).ready( function () {-->
<!--    $('#fresh-table').DataTable({-->
<!--      scrollX: true,-->
<!--    });-->
<!--} );-->

<!--</script>-->
<script>
  $(document).ready( function () {
    let data = JSON.parse("{{context|escapejs}}")
    let newJson = JSON.parse(data)
    console.log(newJson)
    $('#fresh-table').DataTable({
      scrollX: true,
      data: newJson,
      columns: [
        { data: 'Class of Business' },
        { data: 'Name of Policyholder' },
        { data: 'Surname' },
        { data: 'Policy Number' },
        { data: 'Start Date' },
        { data: 'Ending Date' },
        { data: 'Expected Date of Premium Payment' },
        { data: 'Date of Premium Payment' },
        { data: 'Premium Installment' },
        { data: 'Payment Frequency' },
        { data: 'Total Premium' },
        { data: 'Claims Ratio' },
        { data: 'Expense Ratio' },
        { data: 'Acquisistion costs (Commissions)' },
        { data: 'Portfolio ID' },
        { data: 'duration' },
        { data: 'PV Premiums' },
        { data: 'PV Claims' },
        { data: 'PV Expenses' },
        { data: 'Risk Adjustment' },
        { data: 'FCFs' },
        { data: 'Acquisition Costs' },
        { data: 'Combined Loss Ratio' },
        {data: 'Automatic PAA Eligibility Test' },
        {data: 'Final Groups of Contracts'},
      ],

    });
  } );

</script>


{%endblock scripts %}
