{% extends "layout.html" %} {% block styles %}
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table id="fresh-table" class="table display nowrap" style="width:100%">
            <thead>
              <th data-field="groups" data-sortable="true">Groups</th>
              <th data-field="Start_Date" data-sortable="true">Start Date</th>
              <th data-field="Ending_Date" data-sortable="true">Ending Date</th>
              <th
                data-field="Expected_Date_of_Premium_Payment"
                data-sortable="true"
              >
                Expected Date of Premium Payment
              </th>
              <th data-field="Date_of_Premium_Payment" data-sortable="true">
                Date of Premium Payment
              </th>
              <th data-field="Premium_installment" data-sortable="true">
                PremiumInstallment
              </th>
              <th
                data-field="number_of_contracts_in_group"
                data-sortable="true"
              >
                Numberof Contract in group
              </th>
              <th data-field="total_premium" data-sortable="true">
                Total Premium
              </th>
              <th data-field="duration_in_months" data-sortable="true">
                DurationinMonths
              </th>
              <th data-field="PV_of_Premiums" data-sortable="true">
                PV of Premiums
              </th>
              <th data-field="PV_of_claims" data-sortable="true">
                PV of Claims
              </th>
              <th data-field="PV_of_Expenses" data-sortable="true">
                PV of Expenses
              </th>
              <th data-field="Risk_adjustment_FCFs" data-sortable="true">
                Risk adjustment
              </th>
              <th data-field="FCFs" data-sortable="true">FCFs</th>
              <th data-field="Acquisition_Costs" data-sortable="true">
                Acquisition Costs
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">$36,738</td>
                <td class="assumptions-text">Niger</td>
                <td class="assumptions-text">Oud-Turnhout</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">$36,738</td>
                <td class="assumptions-text">Niger</td>
                <td class="assumptions-text">Oud-Turnhout</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">Dakota Rice</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready( function () {
    $('#fresh-table').DataTable({
      scrollX: true,
    });
} );

</script>

{%endblock scripts %}
