{% extends "layout.html" %} {% block styles %}
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-header"><h4 class="card-title">Measurement Calculation</h4></div>
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table class="table">
            <tbody>
              <tr>
                <td class="assumptions-text" style="font-weight: bold;">Measurement Date</td>
                <td class="assumptions-text">31-Aug-22</td>
                <td class="assumptions-text" style="font-weight: bold;">Contracts in Group</td>
                <td class="assumptions-text">2</td>
                <td class="assumptions-text" style="font-weight: bold;">Business Class</td>
                <td class="assumptions-text">Engineering</td>
              </tr>
              <tr>
                <td class="assumptions-text" style="font-weight: bold;">Group</td>
                <td class="assumptions-text">102.2022.1</td>
                <td class="assumptions-text" style="font-weight: bold;">Group End Date</td>
                <td class="assumptions-text">31-Dec-22</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text"></td>
              </tr>
            </tbody>
          </table>
          <hr class="mt-5 mb-5">
          <table id="fresh-table" class="table">
            
            <tbody>
              <tr>
                <td class="assumptions-text" colspan="3"></td>
                <td class="assumptions-text" style="font-weight: bold;">2022 Jan to Aug</td>
                <td class="assumptions-text" style="font-weight: bold;">January 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">February 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">March 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">April 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">May 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">June 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">July 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">August 2022</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Opening Balance</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Premiums Received in the Period</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Acquisition Costs (to premiums received in the Period)</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Amortised Acquisition Costs</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Insurance Revenue for coverage provided </td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr style="border: 1px solid black;">
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Closing Balance</td>
                <td class="assumptions-text" style="font-weight: bold;">324</td>
                <td class="assumptions-text" style="font-weight: bold;">243</td>
                <td class="assumptions-text" style="font-weight: bold;">866</td>
                <td class="assumptions-text" style="font-weight: bold;">345</td>
                <td class="assumptions-text" style="font-weight: bold;">78</td>
                <td class="assumptions-text" style="font-weight: bold;">65</td>
                <td class="assumptions-text" style="font-weight: bold;">896</td>
                <td class="assumptions-text" style="font-weight: bold;">967</td>
                <td class="assumptions-text" style="font-weight: bold;">555</td>
              </tr>
            </tbody>
          </table>
          <hr class="mt-5 mb-5">
          <table id="fresh-table-2" class="table">
            
            <tbody>
              <tr>
                <td class="assumptions-text" colspan="3"></td>
                <td class="assumptions-text" style="font-weight: bold;">2022 Jan to Aug</td>
                <td class="assumptions-text" style="font-weight: bold;">January 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">February 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">March 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">April 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">May 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">June 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">July 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">August 2022</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Opening Balance</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Premiums Received in the Period</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Acquisition Costs (to premiums received in the Period)</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Amortised Acquisition Costs</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Insurance Revenue for coverage provided </td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr style="border: 1px solid black;">
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Closing Balance</td>
                <td class="assumptions-text" style="font-weight: bold;">324</td>
                <td class="assumptions-text" style="font-weight: bold;">243</td>
                <td class="assumptions-text" style="font-weight: bold;">866</td>
                <td class="assumptions-text" style="font-weight: bold;">345</td>
                <td class="assumptions-text" style="font-weight: bold;">78</td>
                <td class="assumptions-text" style="font-weight: bold;">65</td>
                <td class="assumptions-text" style="font-weight: bold;">896</td>
                <td class="assumptions-text" style="font-weight: bold;">967</td>
                <td class="assumptions-text" style="font-weight: bold;">555</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}


{%endblock scripts %}
