{% extends "layout.html" %} {% block styles %}
<link href="/static/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
    <table id="fresh-table" class="table">
      <thead>
        <th></th>
        <th data-field="2022_Jan_to_Aug" data-sortable="true">2022 Jan<br> to Aug</th>
        <th data-field="January_2022" data-sortable="true">January 2022</th>
        <th data-field="February_2022" data-sortable="true">February 2022</th>
        <th data-field="March_2022" data-sortable="true">March 2022</th>
        <th data-field="April_2022" data-sortable="true">April 2022</th>
        <th data-field="May_2022" data-sortable="true">May 2022</th>
        <th data-field="June_2022" data-sortable="true">June 2022</th>
        <th data-field="July_2022" data-sortable="true">July 2022</th>
        <th data-field="August_2022" data-sortable="true">August 2022</th>



      </thead>
      <tbody>

        <tr>
          <td class=" w-25 assumptions-text">Opening Balance</td>

        </tr>
        <tr>
          <td class=" w-25 assumptions-text">+ Premiums Received
            in the Period</td>
        </tr>
        <tr>
          <td class=" w-25 assumptions-text">- Acquisition Costs (to premiums received in the Period</td>
        </tr>
        <tr>
            <td class=" w-25 assumptions-text">+ Amortised Acquisition Costs</td>
        </tr>
        <tr>
            <td class=" w-25 assumptions-text">- Insurance Revenue for coverage provided</td>
        </tr>
        <tr>
          <td class=" w-25 assumptions-text">Closing Balance</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>
</div>
</div>
</div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.js"></script>

<script>
  var $table = $("#fresh-table");

  window.operateEvents = {
    "click .like": function (e, value, row, index) {
      alert("You click like icon, row: " + JSON.stringify(row));
      console.log(value, row, index);
    },
    "click .edit": function (e, value, row, index) {
      alert("You click edit icon, row: " + JSON.stringify(row));
      console.log(value, row, index);
    },
    "click .remove": function (e, value, row, index) {
      $table.bootstrapTable("remove", {
        field: "id",
        values: [row.id],
      });
    },
  };

  function operateFormatter(value, row, index) {
    return [
      '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
      '<i class="fa fa-heart"></i>',
      "</a>",
      '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
      '<i class="fa fa-edit"></i>',
      "</a>",
      '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-remove"></i>',
      "</a>",
    ].join("");
  }

  $(function () {
    $table.bootstrapTable({
      classes: "table table-hover table-striped",
      toolbar: ".toolbar",

      search: true,
      pagination: true,
      striped: true,
      sortable: true,
      height: $(window).height(),
      pageSize: 50,
      pageList: [25, 50, 100],

      formatShowingRows: function (pageFrom, pageTo, totalRows) {
        return "";
      },
      formatRecordsPerPage: function (pageNumber) {
        return pageNumber + " rows visible";
      },
    });

    $(window).resize(function () {
      $table.bootstrapTable("resetView", {
        height: $(window).height(),
      });
    });
  });
</script>

{%endblock scripts %}
