{% extends "layout.html" %} {% block styles %}
<link href="/static/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-header"><h4 class="card-title">Measurement Calculation</h4></div>
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table class="table">
            <tbody>
              <tr>
                <td class="assumptions-text" style="font-weight: bold;">Measurement Date</td>
                <td class="assumptions-text">31-Aug-22</td>
                <td class="assumptions-text" style="font-weight: bold;">Contracts in Group</td>
                <td class="assumptions-text">2</td>
                <td class="assumptions-text" style="font-weight: bold;">Business Class</td>
                <td class="assumptions-text">Engineering</td>
              </tr>
              <tr>
                <td class="assumptions-text" style="font-weight: bold;">Group</td>
                <td class="assumptions-text">102.2022.1</td>
                <td class="assumptions-text" style="font-weight: bold;">Group End Date</td>
                <td class="assumptions-text">31-Dec-22</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text"></td>
              </tr>
            </tbody>
          </table>
          <hr class="mt-5 mb-5">
          <table id="fresh-table" class="table">
            
            <tbody>
              <tr>
                <td class="assumptions-text" colspan="3"></td>
                <td class="assumptions-text" style="font-weight: bold;">2022 Jan to Aug</td>
                <td class="assumptions-text" style="font-weight: bold;">January 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">February 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">March 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">April 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">May 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">June 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">July 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">August 2022</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Opening Balance</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Premiums Received in the Period</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Acquisition Costs (to premiums received in the Period)</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Amortised Acquisition Costs</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Insurance Revenue for coverage provided </td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr style="border: 1px solid black;">
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Closing Balance</td>
                <td class="assumptions-text" style="font-weight: bold;">324</td>
                <td class="assumptions-text" style="font-weight: bold;">243</td>
                <td class="assumptions-text" style="font-weight: bold;">866</td>
                <td class="assumptions-text" style="font-weight: bold;">345</td>
                <td class="assumptions-text" style="font-weight: bold;">78</td>
                <td class="assumptions-text" style="font-weight: bold;">65</td>
                <td class="assumptions-text" style="font-weight: bold;">896</td>
                <td class="assumptions-text" style="font-weight: bold;">967</td>
                <td class="assumptions-text" style="font-weight: bold;">555</td>
              </tr>
            </tbody>
          </table>
          <hr class="mt-5 mb-5">
          <table id="fresh-table-2" class="table">
            
            <tbody>
              <tr>
                <td class="assumptions-text" colspan="3"></td>
                <td class="assumptions-text" style="font-weight: bold;">2022 Jan to Aug</td>
                <td class="assumptions-text" style="font-weight: bold;">January 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">February 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">March 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">April 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">May 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">June 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">July 2022</td>
                <td class="assumptions-text" style="font-weight: bold;">August 2022</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Opening Balance</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Premiums Received in the Period</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Acquisition Costs (to premiums received in the Period)</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">+ Amortised Acquisition Costs</td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr>
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">- Insurance Revenue for coverage provided </td>
                <td class="assumptions-text">324</td>
                <td class="assumptions-text">243</td>
                <td class="assumptions-text">866</td>
                <td class="assumptions-text">345</td>
                <td class="assumptions-text">78</td>
                <td class="assumptions-text">65</td>
                <td class="assumptions-text">896</td>
                <td class="assumptions-text">967</td>
                <td class="assumptions-text">555</td>
              </tr>
              <tr style="border: 1px solid black;">
                <td class="assumptions-text" colspan="3" style="font-weight: bold;">Closing Balance</td>
                <td class="assumptions-text" style="font-weight: bold;">324</td>
                <td class="assumptions-text" style="font-weight: bold;">243</td>
                <td class="assumptions-text" style="font-weight: bold;">866</td>
                <td class="assumptions-text" style="font-weight: bold;">345</td>
                <td class="assumptions-text" style="font-weight: bold;">78</td>
                <td class="assumptions-text" style="font-weight: bold;">65</td>
                <td class="assumptions-text" style="font-weight: bold;">896</td>
                <td class="assumptions-text" style="font-weight: bold;">967</td>
                <td class="assumptions-text" style="font-weight: bold;">555</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.js"></script>

<script>
  var $table = $("#fresh-table");
  var $table2 = $("#fresh-table-2");

  $(function () {
    $table.bootstrapTable({
      classes: "table table-striped",
    });
    $table2.bootstrapTable({
      classes: "table table-striped",
    });
  });
</script>

{%endblock scripts %} {% comment %}
<table id="fresh-table" class="table">
  <thead>
    <th></th>
    <th data-field="2022_Jan_to_Aug" data-sortable="true">
      2022 Jan<br />
      to Aug
    </th>
    <th data-field="January_2022" data-sortable="true">January 2022</th>
    <th data-field="February_2022" data-sortable="true">February 2022</th>
    <th data-field="March_2022" data-sortable="true">March 2022</th>
    <th data-field="April_2022" data-sortable="true">April 2022</th>
    <th data-field="May_2022" data-sortable="true">May 2022</th>
    <th data-field="June_2022" data-sortable="true">June 2022</th>
    <th data-field="July_2022" data-sortable="true">July 2022</th>
    <th data-field="August_2022" data-sortable="true">August 2022</th>
  </thead>
  <tbody>
    <tr>
      <td class="w-25 assumptions-text">Opening Balance</td>
    </tr>
    <tr>
      <td class="w-25 assumptions-text">+ Premiums Received in the Period</td>
    </tr>
    <tr>
      <td class="w-25 assumptions-text">
        - Acquisition Costs (to premiums received in the Period
      </td>
    </tr>
    <tr>
      <td class="w-25 assumptions-text">+ Amortised Acquisition Costs</td>
    </tr>
    <tr>
      <td class="w-25 assumptions-text">
        - Insurance Revenue for coverage provided
      </td>
    </tr>
    <tr>
      <td class="w-25 assumptions-text">Closing Balance</td>
    </tr>
  </tbody>
</table>
{% endcomment %}
