{% extends "layout.html" %} {% block styles %}
{% comment %} <link href="/static/assets/css/fresh-bootstrap-table.css" rel="stylesheet" /> {% endcomment %}
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table id="fresh-table"  class="table display nowrap" style="width:100%">
            <thead>
              <th data-field="class_of_business" data-sortable="true">
                Class of Business
              </th>
              <th data-field="Name_of_Policyholder" data-sortable="true">
                Name of Policyholder
              </th>
              <th data-field="Surname" data-sortable="true">Surname</th>
              <th data-field="Policy_Number" data-sortable="true">
                Policy Number
              </th>
              <th data-field="Start_Date" data-sortable="true">Start Date</th>
              <th data-field="Ending_Date" data-sortable="true">Ending Date</th>
              <th
                data-field="Expected_Date_of_Premium_Payment"
                data-sortable="true"
              >
                Expected Date of Premium Payment
              </th>
              <th data-field="Date_of_Premium_Payment" data-sortable="true">
                Date of Premium Payment
              </th>
              <th data-field="Premium" data-sortable="true">Premium</th>
              <th data-field="Installment" data-sortable="true">Installment</th>
              <th data-field="Payment_Frequency" data-sortable="true">
                Payment Frequency
              </th>
              <th data-field="total_premium" data-sortable="true">
                Total Premium
              </th>
              <th
                data-field="Reasonability_of_Total_Premium"
                data-sortable="true"
              >
                Reasonability of Total Premium
              </th>
              <th
                data-field="Is_Class_one_of_the_finite_list_of_classes"
                data-sortable="true"
              >
                Is Classone of the finite list of classes
              </th>
              <th
                data-field="Reasonability_of_Expected_Date_of_Payment"
                data-sortable="true"
              >
                ReasonabilityofExpected Date of Payment
              </th>
            </thead>
            <tbody>
              <tr>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">$36,738</td>
                <td class="assumptions-text">Niger</td>
                <td class="assumptions-text">Oud-Turnhout</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">$36,738</td>
                <td class="assumptions-text">Niger</td>
                <td class="assumptions-text">Oud-Turnhout</td>
                <td class="assumptions-text"></td>
                <td class="assumptions-text">1</td>
                <td class="assumptions-text">Dakota Rice</td>
                <td class="assumptions-text">$36,738</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#fresh-table').DataTable({
      scrollX: true,
    });
} );

</script>

{%endblock scripts %}
