{% extends "layout.html" %} {% block styles %}
<link href="/static/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #cccedc">
      <div class="card-body">
        <div class="fresh-table" style="background: #cccedc">
    <table id="fresh-table" class="table">
      <thead>
        <th> </th>
        <th data-field="January" >January <br>(31 jan)</th>
        <th data-field="February" >February <br>(28 feb)</th>
        <th data-field="March" >March <br>(31 mar)</th>
        <th data-field="April" >April <br>(30 apr)</th>
        <th data-field="May" >May <br>(31 may)</th>
        <th data-field="June" >June <br>(30 jun)</th>
        <th data-field="July" >July <br>(31 jul)</th>
        <th data-field="August" >August <br>(31 aug)</th>
        <th data-field="September" >September <br>(30 sep)</th>
        <th data-field="October" >October <br>(31 oct)</th>
        <th data-field="November" >November <br>(30 nov)</th>
        <th data-field="December" >December <br>(31 dec)</th>

      </thead>

      <tbody>

        <tr>
          <td class="assumptions-text">Opening Balance</td>
        </tr>
        <tr>
          <td class="assumptions-text">+ Premiums Received in the Period</td>
        </tr>
        <tr>
          <td class="assumptions-text">- Acquisition Costs (to premiums received in the Period</td>
        </tr>
        <tr>
            <td class="assumptions-text">+ Amortised Acquisition Costs</td>
        </tr>
        <tr>
            <td class="assumptions-text">- Insurance Revenue for coverage provided</td>
        </tr>
        <tr>
            <td class="assumptions-text">Closing Balance</td>
        </tr>
        <tr>
            <td class="assumptions-text"></td>
        </tr>
        <tr>
          <td class="assumptions-text"></td>
        </tr>


        <tr>
            <td class="assumptions-text">GMM estimation after change in facts and circumstances</td>
        </tr>
        <tr>
            <td class="assumptions-text"> Loss Component</td>
        </tr>


      </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.js"></script>

<script>
  var $table = $("#fresh-table");

  window.operateEvents = {
    "click .like": function (e, value, row, index) {
      alert("You click like icon, row: " + JSON.stringify(row));
      console.log(value, row, index);
    },
    "click .edit": function (e, value, row, index) {
      alert("You click edit icon, row: " + JSON.stringify(row));
      console.log(value, row, index);
    },
    "click .remove": function (e, value, row, index) {
      $table.bootstrapTable("remove", {
        field: "id",
        values: [row.id],
      });
    },
  };

  function operateFormatter(value, row, index) {
    return [
      '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
      '<i class="fa fa-heart"></i>',
      "</a>",
      '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
      '<i class="fa fa-edit"></i>',
      "</a>",
      '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
      '<i class="fa fa-remove"></i>',
      "</a>",
    ].join("");
  }

  $(function () {
    $table.bootstrapTable({
      classes: "table table-hover table-striped",
      toolbar: ".toolbar",

      search: true,
      pagination: true,
      striped: true,
      sortable: true,
      height: $(window).height(),
      pageSize: 50,
      pageList: [25, 50, 100],

      formatShowingRows: function (pageFrom, pageTo, totalRows) {
        return "";
      },
      formatRecordsPerPage: function (pageNumber) {
        return pageNumber + " rows visible";
      },
    });

    $(window).resize(function () {
      $table.bootstrapTable("resetView", {
        height: $(window).height(),
      });
    });
  });
</script>

{%endblock scripts %}
