{% extends "layout.html" %} {% block styles %}
<link href="/static/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
{% endblock styles %} {% block content %}
<div class="row">
  <div class="col-12">
    <div class="card" style="background: #bbbbe9">
      <div class="card-body">
        <div class="fresh-table" style="background: #bbbbe9">
          <table id="fresh-table" class="table">
            <tbody>
              <tr>
                  <td colspan="3"></td>
                  <td class="assumptions-text" data-field="January">January 31 jan</td>
                  <td class="assumptions-text" data-field="February">February (28 feb)</td>
                  <td class="assumptions-text" data-field="March">March (31 mar)</td>
                  <td class="assumptions-text" data-field="April">April (30 apr)</td>
                  <td class="assumptions-text" data-field="May">May (31 may)</td>
                  <td class="assumptions-text" data-field="June">June (30 jun)</td>
                  <td class="assumptions-text" data-field="July">July (31 jul)</td>
                  <td class="assumptions-text" data-field="August">August (31 aug)</td>
                  <td class="assumptions-text" data-field="September">September (30 sep)</td>
                  <td class="assumptions-text" data-field="October">October (31 oct)</td>
                  <td class="assumptions-text" data-field="November">November (30 nov)</td>
                  <td class="assumptions-text" data-field="December">December (31 dec)</td>

              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">Opening Balance</td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">
                  + Premiums Received in tde Period
                </td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">
                  - Acquisition Costs (to premiums received in tde Period
                </td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">+ Amortised Acquisition Costs</td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">
                  - Insurance Revenue for coverage provided
                </td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">Closing Balance</td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text"></td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text"></td>
              </tr>

              <tr>
                <td colspan="3" class="assumptions-text">
                  GMM estimation after change in facts and circumstances
                </td>
              </tr>
              <tr>
                <td colspan="3" class="assumptions-text">Loss Component</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.js"></script>

<script>
  var $table = $("#fresh-table");

  $(function () {
    $table.bootstrapTable({
      classes: "table table-striped",
    });
  });
</script>

{%endblock scripts %}
